<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_sas_custom_form %}
    <div class="sw-cms-component-sas-custom-form">
        <h4 class="sw-cms-component-sas-custom-form-headline">
            {{ $tc('sas-custom-form.blocks.component.title') }}
        </h4>
        <div class="sw-cms-component-sas-custom-form-inputs">
            <div class="sw-cms-component-sas-custom-form-input"></div>
            <div class="sw-cms-component-sas-custom-form-input"></div>
        </div>
        <div class="sw-cms-component-sas-custom-form-input"></div>
        <div class="sw-cms-component-sas-custom-form-inputs__action">
            {{ $tc('sas-custom-form.blocks.component.browser') }}
        </div>

        <div class="sw-cms-component-sas-custom-form-input"></div>
        <div class="sw-cms-component-sas-custom-form-inputs__action">
            {{ $tc('sas-custom-form.blocks.component.action') }}
        </div>
    </div>

{% endblock %}
